{% extends "layout.html" %}
{% block title %}Mercury{% endblock %}
{% block content %}
        <h1>Add a Screenshot of {{game.title}}</h1>
        <p>
            You can add a screenshot of <a href="url_for('game_page', game_id=game.game_id)">{{game.title}}</a> here.
            Valid extensions are ".jpg" and ".png".
            <form action="{{url_for('add_screenshot', game_id=game.game_id)}}" method="post" enctype="multipart/form-data">
                <input type="file" name="img" accept=".jpg,.png">
                <input type="text" name="caption" maxlength="20">
                <input type="submit">
            </form>
        </p>
{% endblock %}
