{% extends "layout.html" %}
{% block title %}Mercury{% endblock %}
{% block content %}
    <h1 class="title">Balance Code</h1>
    <form action="" method="post" name="code_enter">
        <div class="field">
            <label for="title" class="label">Enter your code(1234):</label>
            <div class="control">
                <input type="text" name="code" class="input" required="required"/>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary is-small">Save</button>
            </div>
        </div>
    </form>
{% endblock %}