{% extends "layout.html" %}
{% block title %}Mercury{% endblock %}
{% block content %}
    <style>
        .column {
            float: left;
            width: 48.94%;
            padding: 10px;
        }
            .row:after {
            content: "";
            display: table;
            clear: both;
        }
        @media (max-width: 600px) {
            .column {
            width: 100%;
            }
        }
    </style>
    <h1>Friends Activity</h1>
    <p>All activities of friends who are not blocked</p>
    <div class="row">
        <div class="column" style="background-color:#aaa;">Reviews:
            <ul>
                {% for review in reviews %}
                    <li><p>{{ review[0] }} reviewed {{ review[1] }}:</p>
                        <p>{{ review[2] }}</p>
                        <p>({{ review[3] }})</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="column" style="background-color:#bbb;">Screenshots:
            <ul>
                {% for screenshot in screenshots %}
                    <li><p>{{ screenshot[1] }} uploaded a screenshot for {{ screenshot[2] }}:</p>
                        <p><img src="{{ images.url(screenshot[0]) }}" height="461" width="820"></p>
                        <p>({{ screenshot[3] }})</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}