<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Mercury</title>
  </head>
  <body>
   <h1 class="title">Game</h1>
    <p> 
   	<table class="table">
       <tr>
	   <th>Title:</th>
        <td>{{ game.title }}</td>
       </tr>
      <tr>
	  <th>Genre:</th>
        <td>{{ game.genre }}</td>
      </tr>
       <tr>
	   <th>Rating:</th>
        <td>{{ game.rating }}</td>
       </tr>
       <tr>
	   <th>Age Restriction:</th>
        <td>{{ game.age_restriction }}</td>
       </tr>
       <tr>
	   <th>Price:</th>
        <td>{{ game.price }}</td>
       </tr>
	</table>
    </p>
  </body>
  </html>
