{% extends "layout.html" %}
{% block title %}Mercury{% endblock %}
{% block content %}
<script src="{{ url_for('static', filename='review_feedback.js') }}"></script>
    <h1 class="title">{{ game.title }}</h1>
    <p>
    <table class="table">
        <tr>
            <th>Genre:</th>
            <td>{{ game.genre }}</td>
        </tr>
        <tr>
            <th>Rating:</th>
            <td>{{ game.rating }}</td>
        </tr>
        <tr>
            <th>Votes:</th>
            <td>{{ game.votes }}</td>
        </tr>
        <tr>
            <th>Age Restriction:</th>
            <td>{{ game.age_restriction }}+</td>
        </tr>
        <tr>
            <th>Price:</th>
            <td>{{ game.price }}$</td>
        </tr>
    </table>
    </p>

    <form action="" method="post" name="item_list">
        <p>Items List:</p>
        <table class="table">
            <tr>
                <th>Item Name:</th>
                <th>Rarity:</th>
                <th>Level:</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>
                        {% if current_user.is_admin %}
                            <label class="checkbox">
                                <input type="checkbox" name="item_ids" value="{{ item.item_id }}"/>
                            </label>
                        {% endif %}
                        {{ item.name }}
                    </td>
                    <td>{{ item.rarity }}</td>
                    <td>{{ item.level }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if current_user.is_admin %}
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-danger is-small">Delete items</button>
                </div>
            </div>
        {% endif %}
    </form>

    <p>Reviews</p>
    <ul>
        {% for review in reviews %}
            <li><p>{{ review.label }}: {{ review.content }} (Submitted: {{review.added}} {% if review.edited != None %}Last change: {{review.edited}}{% endif %})
                <form id="like">
                    <button class="likes" id="{{review.id}}l" value="{{review.id}}" {% if review.disliked_from_current %} disabled {% endif %}>{% if review.liked_from_current %}You Liked It{% else %}Like{% endif %}</button>
                </form>
                <form id="dislike">
                    <button class="dislikes" id="{{review.id}}d" value="{{review.id}}" {% if review.liked_from_current %} disabled {% endif %}>{% if review.disliked_from_current %}You Disliked It{% else %}Dislike{% endif %}</button>
                </form>
            </p></li>
        {% endfor %}
    </ul>
    <p>Screenshots</p>
    <ul>
        {% for shot in screenshots %}
            <li><img src="{{images.url(shot.name)}}" alt="A Screenshot of {{game.title}}">Caption: {{shot.caption}}</li>
        {% endfor %}
    </ul>

    {% if current_user.is_authenticated %}
        <p><a href="{{ url_for('game_rate_page', game_id=game.game_id) }}">Rate the game</a></p>
        <p><a href="{{ url_for('game_purchase_page', game_id=game.game_id) }}">Purchase</a></p>
        <p><a href="{{ url_for('add_review', game_id=game.game_id) }}">Add review</a></p>
    {% endif %}
    <p><a href="{{ url_for('store_page') }}">Back</a></p>

    {% if current_user.is_admin %}
        <p><a href="{{ url_for('item_add_page', game_id=game.game_id) }}">Add item</a></p>
    {% endif %}
{% endblock %}
