{% extends "layout.html" %}
{% block title %}Mercury{% endblock %}
{% block content %}
    <h1 class="title">Add game</h1>

    <form action="" method="post" name="game_add">
        <div class="field">
            <label for="title" class="label">Title</label>
            <div class="control">
                <input type="text" name="title" class="input" required="required"/>
            </div>
        </div>

        <div class="field">
            <label for="genre" class="label">Genre</label>
            <div class="control">
                <input type="text" name="genre" class="input"
                       required="required"/>
            </div>
        </div>

        <div class="field">
            <label for="age_restriction" class="label">Age Restriction</label>
            <div class="control">
                <input type="number" name="age_restriction" class="input"
                       required="required"/>
            </div>
        </div>

        <div class="field">
            <label for="price" class="label">Price</label>
            <div class="control">
                <input type="number" name="price" class="input"
                       required="required"/>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary is-small">Add</button>
            </div>
        </div>
    </form>
{% endblock %}