{% extends "layout.html" %}
{% block title %}Mercury{% endblock %}
{% block content %}
   <h1 class="title">{{ game.title }}</h1>
    <p> 
   	<table class="table">
      <tr>
	  <th>Genre:</th>
        <td>{{ game.genre }}</td>
      </tr>
       <tr>
	   <th>Rating:</th>
        <td>{{ game.rating }}</td>
       </tr>
       <tr>
	   <th>Votes:</th>
        <td>{{ game.votes }}</td>
       </tr>
       <tr>
	   <th>Age Restriction:</th>
        <td>+{{ game.age_restriction }}</td>
       </tr>
       <tr>
	   <th>Price:</th>
        <td>{{ game.price }}$</td>
       </tr>
	</table>
    </p>
  {% if current_user.is_authenticated %}
   <p><a href="{{ url_for('game_rate_page', game_id=game.game_id) }}">Rate the game</a></p>
  {% endif %}
   <p><a href="{{ url_for('store_page') }}">Back</a></p>
  {% endblock %}