{% extends "layout.html" %}
{% block title %}Mercury{% endblock %}
{% block content %}
    <form action="" method="post" name="item_edit">
        <div class="field">
            <label for="color" class="label">Item Color</label>
            <div class="control">
                <select name="color" required>
                    <option value="Red">Red</option>
                    <option value="Green">Green</option>
                    <option value="Blue">Blue</option>
                </select>
            </div>
        </div>

        <div class="field">
            <label for="is_favorite" class="label">Your Favorite?</label>
            <div class="is_favorite">
                <select name="is_favorite" required>
                    <option value="FALSE">No</option>
                    <option value="TRUE">Yes</option>
                </select>
            </div>
        </div>

        <div class="field">
            <label for="is_equipped" class="label">Equip Item?</label>
            <div class="is_equipped">
                <select name="is_equipped" required>
                    <option value="FALSE">No</option>
                    <option value="TRUE">Yes</option>
                </select>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary is-small">Save changes</button>
            </div>
        </div>
    </form>
{% endblock %}