{% extends "layout.html" %}
{% block title %}Mercury{% endblock %}
{% block content %}
    <form action="" method="post" name="item_edit">
        <div class="field">
            <label for="color" class="label"><b>Item Color:</b></label>
            <input type="radio" name="color" value="Black" checked> Black
            <input type="radio" name="color" value="White"> White
            <input type="radio" name="color" value="Red"> Red
            <input type="radio" name="color" value="Green"> Green
            <input type="radio" name="color" value="Blue"> Blue
        </div>

        <div class="field">
            <input id="is_favorite" type="checkbox" name="is_favorite" value="TRUE">
            <input id="is_favorite_hidden" type="hidden" name="is_favorite" value="FALSE">
            <label for="is_favorite" class="label">Make this my favorite item</label>
        </div>

        <div class="field">
            <input id="is_equipped" type="checkbox" name="is_equipped" value="TRUE">
            <input id="is_equipped_hidden" type="hidden" name="is_equipped" value="FALSE">
            <label for="is_equipped" class="label">Equip item</label>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary is-small">Save changes</button>
            </div>
        </div>
    </form>
{% endblock %}