{% extends "layout.html" %}
{% block title %}Mercury{% endblock %}
{% block content %}
    <h1>Profile</h1>
    <p>hello {{user.user_name}}</p>
    <p>Library:</p>
      {% if games_of_user %}
    <table class="table is-striped is-fullwidth">
	  <th>Title</th>
	  <th>Time Played</th>
	  <th>Time Purchased</th>
      {% for game in games_of_user%}
      <tr>
        <td><a href="{{ url_for('game_page', game_id=game.game_id) }}"> {{game.title}} </a></td>
	   <td>{{ game.time_played }} hours</td>
	   <td>{{ game.time_purchased}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
{% endblock %}
