{% extends "layout.html" %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='profile_style.css')}}">
{% endblock %}
{% block title %}Mercury{% endblock %}
{% block content %}
    <script src="{{ url_for('static', filename='friend_request_feedback.js') }}"></script>
    <script src="{{ url_for('static', filename='game_favouriting_handler.js') }}"></script>
    <script src="{{ url_for('static', filename='play_game_handler.js') }}"></script>
    <script src="{{ url_for('static', filename='timezone_handler.js') }}"></script>
    <script src="{{ url_for('static', filename='friend_operations_handler.js') }}"></script>
    <script src="{{ url_for('static', filename='likesdislikes_handler.js') }}"></script>

    <h1>{{ user.user_name }}</h1>
    <p>hello {{ user.user_name }}</p>

    {% if not current_user.is_admin %}
        <p>Your balance: {{ current_user.balance }}$</p>
    {% else %}
        <p>Your balance: :)</p>
    {% endif %}

    <h2>Library:</h2>
    {% if games_of_user %}
        <table class="table is-striped is-fullwidth">
            <th>Title</th>
            <th>Time Played</th>
            <th>Date Purchased</th>
            <th>#Reviews</th>
            <th>#Items</th>
            {% for game in games_of_user %}
                <tr id="{{ game.game_id }}">
                    <td><a href="{{ url_for('game_page', game_id=game.game_id) }}"> {{ game.title }} </a></td>
                    <td id="column_time_played">{{ game.time_played }} hours</td>
                    <td>{{ game.time_purchased }}</td>
                    <td>{{ game.num_of_reviews }}</td>
                    <td>{{ game.num_of_items }}</td>
                    <td id="is_game_favourite">{% if game.is_favourite %}*FAVOURITE*{% endif %}</td>
                    <td><button onclick="playGame({{ current_user.id }}, {{ game.game_id }}, {{ game.time_played }})">Play</button></td>
                    {% if game.is_favourite %}
                    <td id="unfavourite_game_button"><button onclick="removeGameFromFavourites({{ current_user.id }}, {{ game.game_id }})">Unfavourite</button></td>
                    {% else %}
                    <td id="favourite_game_button"><button onclick="addGameToFavourites({{ current_user.id }}, {{ game.game_id }})">Favourite</button></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h3>Inventory:</h3>
    <table class="table is-striped is-fullwidth">
        <th>Name</th>
        <th>Level</th>
        <th>Color</th>
        <th>Equipped</th>
        <th>Favorite</th>
        <th>Date Purchased</th>
        {% for item in items_of_user %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.level }}</td>
                <td>{{ item.color }}</td>
                <td>
                    {{ "+" if item.is_equipped else "-" }}
                </td>
                <td>
                    {{ "+" if item.is_favorite else "-" }}
                </td>
                <td>{{ item.date_purchased }}</td>
                <td><a href="{{ url_for("item_edit_page", item_id=item.item_id) }}">Edit item</a></td>
            </tr>
        {% endfor %}
    </table>

    <h4>Friends List:</h4>
    <table class="table is-striped is-fullwidth">
        <th>Name</th>
        <th>Since</th>
        <th>#Shared games</th>
        <th>#Shared items</th>
        {% for friend in friends %}
            <tr id="{{ friend.user2_id }}">
                <td><a href="{{ url_for('profile', user_id=friend.user2_id) }}">{{ friend.user2_name}}</a></td>
                <td>{{ friend.date_befriended }}</td>
                <td>{{ friend.num_of_shared_games }}</td>
                <td>{{ friend.num_of_shared_items }}</td>
                <td>{% if friend.is_blocked %}*BLOCKED*{% endif %}</td>
                <td>{% if friend.is_favourite %}*FAVOURITE*{% endif %}</td>
                {%if friend.is_blocked %}
                    <td><button onclick="unblockFriend({{ current_user.id }}, {{ friend.user2_id }})">Unblock</button></td>
                {% else %}
                    <td><button onclick="blockFriend({{ current_user.id }}, {{ friend.user2_id }})">Block</button></td>
                {% endif %}
                {% if friend.is_favourite %}
                    <td><button onclick="removeFriendFromFavourites({{ current_user.id }}, {{ friend.user2_id }})">Unfavourite</button></td>
                {% else %}
                    <td><button onclick="addFriendToFavourites({{ current_user.id }}, {{ friend.user2_id }})">Favourite</button></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <p><a href="{{ url_for('friend_add_page') }}"> Add a friend </a></p>

    {% if sent_friend_requests %}
        <P>You have sent friend requests to:</P>
            <ul>
                {% for sent_request in sent_friend_requests %}
                    <li id="{{ sent_request.user_id_to }}"><p> {{ sent_request.user_name_to }}
                            <button onclick="cancelRequest({{ sent_request.user_id_from }}, {{ sent_request.user_id_to }})">Cancel</button>
                    </p></li>
                {% endfor %}
            </ul>
    {% endif %}

    {% if received_friend_requests %}
        <p>You have new friend requests from:</p>
            <ul>
                {% for received_request in received_friend_requests %}
                    <li id="{{ received_request.user_id_from }}"><p> {{ received_request.user_name_from }}
                        <button onclick="acceptRequest({{ received_request.user_id_from }}, {{ received_request.user_id_to }})">Accept</button>
                        <button onclick="declineRequest({{ received_request.user_id_from }}, {{ received_request.user_id_to }})">Decline</button>
                    </p></li>
                {% endfor %}
            </ul>
    {% endif %}

    <div style="display:block;">
    <h4>Reviews</h4>
    <ul>
        {% for review in reviews %}
            <li>
            <div class="reviews">{{ review.label }}: {{ review.content }} (Likes: {{review.likes}}, Dislikes: {{review.dislikes}})(Submitted: <span class="timeobj">{{review.added.timestamp()*1000}}</span>{% if review.edited != None %}Last change: <span class="timeobj">{{review.edited.timestamp()*1000}}</span>{% endif %})
                <div><form id="like" class="like_form">
                    <button class="likes" id="{{review.id}}l" value="{{review.id}}" data-ent_type="REVIEWS" {% if review.disliked_from_current %} disabled {% endif %}>{% if review.liked_from_current %}You Liked It{% else %}Like{% endif %}</button>
                </form>
                <form id="dislike" class="dislike_form">
                    <button class="dislikes" id="{{review.id}}d" value="{{review.id}}" data-ent_type="REVIEWS" {% if review.liked_from_current %} disabled {% endif %}>{% if review.disliked_from_current %}You Disliked It{% else %}Dislike{% endif %}</button>
                </form>
                {% if review.user_id == current_user.id or current_user.is_admin%}
                <form class="delete_form" action="{{url_for('delete_review', review_id=review.id)}}" method="POST">
                    <input type="hidden" name="review_id" value="{{review.id}}" />
                    <input type="hidden" name="game_id" value="{{review.game_id}}" />
                    <button>Delete review</button>
                </form>
                {% endif %}</div>
            </div>
            </li>
        {% endfor %}
    </ul>
    </div>

    <h4>Screenshots:</h4>
    {% for shot in screenshots %}
        <a href="{{url_for('screenshot', shot_id=shot.id, game_id=shot.game_id)}}">
        <div class="gallery"><img src="{{images.url(shot.name)}}" alt="A Screenshot of {{shot.game_title}}"></a>
        <div class="desc">{{shot.caption}}</div>
        <div>(Added: <span class="timeobj">{{shot.date_added.timestamp()*1000}}</span>)</div>
        <div>{{shot.game_title}}</div>
            <div>
                <form id="like" class="like_form">
                    <button class="likes" id="{{shot.id}}l" value="{{shot.id}}" data-ent_type="SCREENSHOTS" {% if shot.disliked_from_current %} disabled {% endif %}>{% if shot.liked_from_current %}You Liked It{% else %}Like{% endif %}</button>
                </form>
                <form id="dislike" class="dislike_form">
                    <button class="dislikes" id="{{shot.id}}d" value="{{shot.id}}" data-ent_type="SCREENSHOTS" {% if shot.liked_from_current %} disabled {% endif %}>{% if shot.disliked_from_current %}You Disliked It{% else %}Dislike{% endif %}</button>
                </form>
                {% if shot.user_id == current_user.id or current_user.is_admin %}
                    <form class="delete_form" action="{{url_for('delete_screenshot')}}" method="POST">
                        <input type="hidden" name="shot_name" value="{{shot.name}}">
                        <input type="hidden" name="game_id" value="{{shot.game_id}}">
                        <button>Delete screenshot</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
