{% extends "layout.html" %}
{% block title %}Mercury{% endblock %}
{% block content %}
    <script src="{{ url_for('static', filename='friend_request_feedback.js') }}"></script>
    <h1>{{ user.user_name }}</h1>
    <p>hello {{ user.user_name }}</p>
    {% if not current_user.is_admin %}
        <p>Your balance: {{ current_user.balance }}$</p>
    {% else %}
        <p>Your balance: :)</p>
    {% endif %}
    <p>Library:</p>
    {% if games_of_user %}
        <table class="table is-striped is-fullwidth">
            <th>Title</th>
            <th>Time Played</th>
            <th>Time Purchased</th>
            {% for game in games_of_user %}
                <tr>
                    <td><a href="{{ url_for('game_page', game_id=game.game_id) }}"> {{ game.title }} </a></td>
                    <td>{{ game.time_played }} hours</td>
                    <td>{{ game.time_purchased }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <p>Friends List:</p>
    <table class="table is-striped is-fullwidth">
        {% for friend in friends %}
            <tr>
                <td>{{ friend.user2_name}}</td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{{ url_for('friend_add_page') }}"> Add a friend </a></p>
    {% if sent_friend_requests %}
        <P>You have sent friend requests to:</P>
            <ul>
                {% for sent_request in sent_friend_requests %}
                    <li id="{{ sent_request.user_id_to }}"><p> {{ sent_request.user_name_to }}
                            <button onclick="cancelRequest({{ sent_request.user_id_from }}, {{ sent_request.user_id_to }})">Cancel</button>
                    </p></li>
                {% endfor %}
            </ul>
    {% endif %}

    {% if received_friend_requests %}
        <p>You have new friend requests from:</p>
            <ul>
                {% for received_request in received_friend_requests %}
                    <li id="{{ received_request.user_id_from }}"><p> {{ received_request.user_name_from }}
                        <button onclick="acceptRequest({{ received_request.user_id_from }}, {{ received_request.user_id_to }})">Accept</button>
                        <button onclick="declineRequest({{ received_request.user_id_from }}, {{ received_request.user_id_to }})">Decline</button>
                    </p></li>
                {% endfor %}
            </ul>
    {% endif %}
{% endblock %}
