{% extends "layout.html" %}
{% block title %}Mercury{% endblock %}
{% block content %}
    <h2>Comments</h2>
    <ul>
        {% for comment in screenshot_comments %}
            <li>
                <table>
                    <th>
                        {{ comment.username }}'s {{ comment.reaction }} Comment:
                    </th>
                    <tr>
                        <td>
                            {{ comment.content }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Posted on: {{ comment.date_commented }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Likes: {{ comment.likes }}
                        </td>
                        <td>
                            Dislikes: {{ comment.dislikes }}
                        </td>
                    </tr>
                </table>
            </li>
        {% endfor %}
    </ul>
{% endblock %}