{% extends "layout.html" %}
{% block title %}Mercury{% endblock %}
{% block content %}
    <h1>Sign Up</h1>
    <p>
        <form action="{{url_for('sign_up_result')}}" method="post" name="sign_up">
            <div class="field">
              <label for="title" class="label">Name</label>
              <div class="control">
                <input type="text" name="user_name" class="input" required="required"/>
              </div>
            </div>
      
            <div class="field">
              <label for="year" class="label">Password</label>
              <div class="control">
                <input type="password" name="password" class="input" required="required"/>
              </div>
            </div>
      
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-primary is-small">Submit</button>
              </div>
            </div>
          </form>
    </p>
{% endblock %}
